<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> -->

	<context:annotation-config />
	<context:component-scan base-package="gs.scm"/>

	<jaxrs:server id="restContainer" address="/">
		<jaxrs:serviceBeans>
			<ref bean="itemService"/>
			<!-- <ref bean="orderCreateService"/>
			<ref bean="flightService"/>
			<ref bean="flightListService"/>
			<ref bean="userService"/>
			<ref bean="customerService"/>
			<ref bean="customerSearchService"/> -->
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings> 
            <entry key="xml" value="application/xml" /> 
            <entry key="json" value="application/json" /> 
        </jaxrs:extensionMappings> 
        <jaxrs:providers>
	        <bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
	    </jaxrs:providers>
	</jaxrs:server>


	<bean id="itemService" class="gs.scm.ItemMaster.ItemService"/>
	<!-- <bean id="orderCreateService" class="gs.scm.ordercreate.OrderCreateService"/>
	<bean id="flightService" class="gs.scm.flight.FlightService"/>
	<bean id="flightListService" class="gs.scm.flightlist.FlightListService"/>
	<bean id="userService" class="gs.scm.user.UserService"/>
	<bean id="customerService" class="gs.scm.customer.CustomerService"/>
	<bean id="customerSearchService" class="gs.scm.customersearch.CustomerSearchService"/>
	
	<bean id="orderDetailsApi" class="gs.scm.order.OrderDetailsAPI"/>
	<bean id="orderCreateApi" class="gs.scm.ordercreate.OrderCreateAPI"/>
	<bean id="flightApi" class="gs.scm.flight.FlightAPI"/>
	<bean id="flightListApi" class="gs.scm.flightlist.FlightListAPI"/>
	<bean id="userDetailsApi" class="gs.scm.user.UserDetailsAPI"/>
	<bean id="customerApi" class="gs.scm.customer.CustomerAPI"/>
	<bean id="customerSearchApi" class="gs.scm.customersearch.CustomerSearchAPI"/> -->
	
	
	
 
</beans>